<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
    @Styles.Render("~/Content/jquery-ui-timepicker-addon.min.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/index.css")


    <link href="//unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>



    @Scripts.Render("~/Content/js/scripts.js")
    <script src="//unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("BoatPopularity", "Boat")">BoatToursManager</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (Session["userName"] == null)
                    {
                        <li class="nav-item ml-md-5 mr-md-2 mb-2 mb-md-0">
                            <a class="btn btn-primary" href="@Url.Action("UserLogin", "User")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" href="@Url.Action("UserRegistration", "User")">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("BookGroupTrip", "Trip")">Book Group Trip</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("RentBoat", "Boat")">Rent a Boat</a>
                        </li>

                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <p class="dropdown-item">Welcome : @Session["userName"]</p>
                                <a class="dropdown-item" href="@Url.Action("ChangePassword", "User")">Change Password</a>
                                <a class="dropdown-item" href="/Order/ViewOrder?byUser=true">My Orders</a>
                                <a class="dropdown-item" href="@Url.Action("Logout", "User")">Logout</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <p>@TempData["Result"]</p>
        @RenderBody()

        <footer></footer>
    </div>

    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>