@model BoatToursManager.Models.UserLoginModel
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var a = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 pb-5">

            <div class="card border-primary">
                <div class="card-header p-0">
                    <div class="bg-info text-white text-center py-2">
                        <div class="social-buttons">
                            <img id="profile-img" class="profile-img-card" src="@Url.Content("~/Public/Images/avatar_2x.png")" />
                            <p id="profile-name" class="profile-name-card"></p>
                        </div>
                        <h3><span class="glyphicon glyphicon-envelope"></span></i> Login Credentials</h3>
                    </div>
                </div>
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {
                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">
                            <strong>Success!</strong>@ViewBag.Message
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card-body p-3">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class='fas fa-user'></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.email } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                    </div>
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.password } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" name="login" id="login_btn" class="btn btn-primary btn-block" value="Sign In">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @*<div class="col-md-6">
                                            <div class="field-group">
                                                @Html.CheckBoxFor(m => m.rememberMe, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.rememberMe } } )
                                                <label for="remember-me">Remember Me?</label>
                                            </div>
                                        </div>*@
                                    <div class="col-md-6 text-right">
                                        <a href="@Url.Action("ForgetPassword", "User")">Forgot password?</a>
                                    </div>
                                </div>
                            </div>

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error! </strong>@ViewBag.Message
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>



